/* 
 @media only screen and (max-width: 1200px) {
 /* #big-screens {
    display: none;
 } */
 /* .work {
    display: none;
 } */
/* } */



/* image {
    vertical-align: middle;
    padding-left: 120px;
    padding-top: 80px;

} */

/* @media screen and (min-width: 370px) { */
/* #breakingpoint {
    display: none;
} */
/* } */

/* @media screen and (min-width: 768px) { */
    /* .feather feather-shopping-cart { */
        /* color: rgb(212, 136, 37); */
        /* padding-top: 15%; */
    /* } */
    
    /* .content-text { */
        /* position: relative; */
        /* right: 10%; */
        /* position: absolute;; */
        /* width: 400px; */
        /* height: 200rm; */
    /* } */


    /* #big-screens { */
        /* display: none; */
    /* } */

    /* #breakpoint {
        display: none;
    } */
    /* .work {
        display: none;
    } */
  /* } */
 /* */ */

 